body {
  background-color: #121827;
  color: white;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 4rem;
}

a {
  color: white;
  text-decoration: none;
}
